#wallet-create-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  // border: 1px solid #6eb16e85;


  .content {
    background: rgba(14, 1, 19, 0.8);
    box-shadow: 0px 6px 6px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    min-height: 400px;
    margin-top: 80px;

    .mkong-wallet {
      margin-top: 50px;
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;

    }

    .mnemonic-window-container {
      background: rgba(28, 7, 44, 0.7);
      border: 2px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 20px;
      margin: 50px 100px;
    }

    .mnemonic-window {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      padding: 50px;

      .mnemoiic-word {
        width: 100%;
        padding: 5px 0px;
        background: linear-gradient(180deg, rgba(255, 69, 165, 0.09) 0%, rgba(163, 31, 169, 0.1) 100%);
        border: 1px solid rgba(255, 69, 165, 0.5);
        border-radius: 30px;

        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF;

      }
    }

    .welcome-text {
      margin-top: 60px;
      margin-left: 200px;
      margin-right: 200px;
      font-family: 'Century Gothic';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;
      /* identical to box height */


      color: #FFFFFF;

    }

    .button-arrange-row {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    .button-arrange-column {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 100px;
      background: rgba(28, 7, 44, 0.7);
      border: 2px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 20px;

      .button-container {
        align-content: center;
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        flex-direction: column;

        .button-icon {
          width: 18px;
          height: 18px;
          margin-right: 15px;
        }
      }

      .button:hover {
        border-color: #fff;
        background: #ffffff22 !important;
      }
    }
  }

  .sub-window {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .rebase-timer {
    margin: 0 !important;
    line-height: 110% !important;
  }

  .stake-tab-buttons {
    margin-bottom: 0.25rem;
    // font-size: 1.7rem !important;
  }

  @media (min-width: 1280px) {
    .MuiTab-root {
      font-size: 1.6rem;
    }
  }

  .stake-table-panel,
  .wallet-tab-panel>div.MuiBox-root {
    width: 100%;
    padding: 0;
  }

  .tab-body-container {
    min-height: 400px;
    border-style: solid;
    border: 1px solid #fff4;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 30px #0005;
    padding-top: 30px;
  }

  .mobile .wallet-tab-panel,
  .mobile .wallet-tab-panel>div.MuiBox-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .ohm-card .header {
    min-height: 3em;

  }

  .ohm-card.secondary .card-header {
    min-height: 33px !important;
    height: 20px;
  }

  .stake-note {
    text-align: center;
    font-style: italic;
  }
}

.migrate-sohm-button {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1em;
  display: flex;
  align-items: center;
  color: #f08080;
  line-height: 30px;

  svg {
    margin-right: 8px;
    color: inherit;
  }
}

.migrate-sohm-button.complete {
  color: #35ee66 !important;
}

.stake-top-metrics {
  display: flex;
  width: 100%;
  padding: 0;
  text-align: center;
  margin-top: 10px;

  h5 {
    font-weight: 400;
  }

  h4 {
    font-weight: 500;
  }

  .stake-apy,
  .stake-tvl,
  .stake-index {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
  }
}

.mobile .stake-top-metrics {

  .stake-apy,
  .stake-tvl,
  .stake-index {
    align-items: flex-start;
  }
}

.ohm-logo-tiny {
  height: 14px;
  width: 14px;
  vertical-align: middle;
  background-color: transparent;
  align-self: center;
  justify-self: center;
}

.logo-holder {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  background: none;
  border: 0 !important;
  border-radius: inherit;
  color: #555;
}

.stake-action-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}

.stake-action-row {
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding-bottom: 1rem;
}

.mobile .stake-action-row {
  justify-content: center;
}

.stake-action-row [role="tabpanel"] {
  width: 99%;
  min-width: 162px;
  margin: 5px;
}

.mobile .stake-action-row {
  flex-direction: column;

  [role="tabpanel"] {
    max-width: 100%;
    width: 100% !important;
  }
}

.ohm-input {
  max-width: 542px;
  width: 100%;
  margin: 5px !important;
}

.stake-button {
  align-self: center;
  width: 100%;
  min-width: 163px !important;
  max-width: 542px !important;
  height: 43px !important;
}

.mobile .stake-button {
  width: 100% !important;
  max-width: 542px;
  align-self: center;
  justify-self: center;
}

.staking-area {
  margin: 0px 10px 13px 10px;
}

.stake-lp-button {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;

  svg {
    margin-left: 4px;
    vertical-align: middle;
    font-size: 1.1em;
  }

  &:hover {
    svg {
      color: inherit;
    }
  }
}

.stake-user-data {
  justify-content: center;
  margin: auto;
  padding: 0 5px;
  font-size: 20px !important;
}

.tablet .stake-pool,
.mobile .stake-pool {
  .pool-card-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .ohm-pairs p {
      margin-bottom: 0 !important;
    }
  }

  .pool-data {
    margin-top: 15px;
    width: 100%;

    .pool-data-row {
      display: flex;
      justify-content: space-between;
      line-height: 225%;
    }
  }

  .stake-lp-button {
    margin-top: 10px;

    svg {
      margin-left: 10px !important;
    }
  }
}

.stake-wallet-notification {
  text-align: center;

  .wallet-menu {
    text-align: center;

    .connect-button {
      max-width: 300px !important;
      min-width: 240px !important;
      margin-bottom: 15px;
    }
  }
}


.dialog {
  width: 500px;

  background: rgba(28, 7, 44, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.2);

  .title {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    margin-top: 40px;

  }

  .content {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .action-button {
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;

    .ok {
      background: rgba(246, 153, 44, 0.8);
      border-radius: 30px;
      border-style: none;
      color: white;
      width: 150px;
      height: 40px;

      &:hover {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(246, 153, 44, 0.8);
      }
    }

    .cancel {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(246, 153, 44, 0.8);
      border-radius: 30px;
      color: white;
      width: 150px;
      height: 40px;
      
      &:hover {
        background: rgba(246, 153, 44, 0.8);
        border: 1px solid rgba(246, 153, 44, 0.8);
      }

    }
  }
}